<div class="container">
	<h1>Welcome to Fantasy Football Survivor </h1>
	<h3>How does Fantasy Football Survivor League work?</h3>

	<p>Each week you will create a team using all NFL players (no drafting). Once a player has been used, they cannot be used again.</p>


	<h3>How do I win?</h3>

	<p>That depends on what kind of league you're in.</p>

	<p>In Free-For-All leagues you will win if you have the most cumulative points after week 17</p>

	<p>Head-to-Head leagues are very similar to regular fantasy football leagues. Each week you are matched up against another team. The top teams proceed to the playoffs.</p>


	<h3>What does it cost?</h3>

	<p>There are paid and free leagues leagues.</p>

	<p>There are paid leagues ran through this site. Select the league you want to join and send the admins a message. We will then get you to pay in through leaguesafe. Once payment has been processed you will get an invite to the league.</p>

	<p>Anyone can join a cookie free open league and participate.</p>

	<p>You can also create a free closed league that requires an invite from the commissioner. </p>
</div>